<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900' rel='stylesheet'
          type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Techie Bootstrap 3 skin">
    <meta name="keywords" content="bootstrap 3, skin, flat">
    <meta name="author" content="bootstraptaste">
    {% block stylesheets %}
        <!-- Bootstrap css -->

        <!-- =======================================================
            Theme Name: Techie
            Theme URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
            Author: BootstrapMade
            Author URL: https://bootstrapmade.com
        ======================================================= -->

        <!-- Docs Custom styles -->
        {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css'
        'assets/vendor/free-jqgrid/dist/css/ui.jqgrid.min.css'

        'assets/css/common.css'
        'assets/css/font-awesome.css'
        filter='cssrewrite' output='assets/css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}

</head>





<body>
<nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">Semantic Manager</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {%  if page =='review' %}class="active"{% endif %}><a href="{{ path('homepage') }}">ReviewReport</a></li>
                <li {%  if page =='topic' %}class="active"{% endif %}><a href="{{ path('topic_index') }}">Topics</a></li>
                <li {%  if page =='word' %}class="active"{% endif %} ><a href="{{ path('word_index') }}">Attributes</a></li>
            </ul>
        </div><!--/.nav-collapse -->

</nav>
<div class="container">

    {% block body %}{% endblock %}
</div> <!-- /container -->

<footer class="text-center">

</footer>
{% block javascripts %}


    {% javascripts
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/bootstrap/dist/js/bootstrap.js'
    'assets/vendor/free-jqgrid/dist/jquery.jqgrid.min.js'
    'assets/js/typeahead.min.js'
    '@SemanticBundle/Resources/assets/js/review_list.js'
    '@SemanticBundle/Resources/assets/js/topic_list.js'
    '@SemanticBundle/Resources/assets/js/word_list.js'
    output='assets/js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}

</body>
</html>
