{% extends 'base.html.twig' %}

{% block body %}

    <script>
        var app = {};
        app.reviewList = '{{ path('review_index') }}';
        app.processReview = '{{ path('review_run') }}';
        app.processFullReview = '{{ path('review_full_run') }}'
    </script>


    <div>

        {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
                <div class=" margin_top alert bg-{{ type }}">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h2>Instructions</h2>
        In this page you can make 3 actions: <br>

        <ol>
            <li> Upload File to process reviews.</li>
            <li> Run semantic analysis: This action run the analysis on no processed reviews.</li>
            <li> Run semantic full analysis: mark all reviews as not processed and run semantic analysis.</li>
        </ol>

        In Review grid, you can only have 3 available actions <strong>create</strong>, <strong>delete</strong> and <strong>search</strong>
    </div>

    <div>

        {{ form_start(uploaderForm) }}
        {{ form_widget(uploaderForm) }}
        {{ form_end(uploaderForm) }}

    </div>

    <div>
        <button type="button" class="btn btn-primary" id="process_reviews" >Run semantic analysis</button>
        <button type="button" class="btn btn-primary" id="process_full_reviews" >Run semantic full analysis</button>
    </div>


    <table id="review-grid"> </table>
    <div id="pager"></div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Process Complete</h4>
                </div>
                <div class="modal-body">
                    <p>Reviews has been processed</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


