{% extends 'base.html.twig' %}

{% block body %}
    <script>
        var app={};
        app.wordList ='{{ path('word_list') }}';
        app.wordEdit ='{{ path('word_edit') }}';

    </script>


    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="margin_top alert bg-{{ type }}">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}


    <h2>Instructions</h2>
    When you add a new "Word"
    <ul>
        <li>if Score > 0 is a positive word. Examploe good</li>
        <li>if Score < 0 is a negative word. Example bad</li>
        <li>if Score = 0 is a word to remove. Example (as far as)</li>
        <li>
            <p>
                You can upload a file with positive , negative and neutral words <br>

            </p>

        </li>
    </ul>

    <div>
        Example of File<br>
<p>
        <strong>Positives</strong>,<strong>Negatives</strong>,<strong>StopWords</strong> <br>
        good,bad,as far as<br>
        well,noisy,<br>


</p>
    </div>


    {{ form_start(uploaderForm) }}
    {{ form_widget(uploaderForm) }}
    {{ form_end(uploaderForm) }}


    <table id="word-grid"></table>
    <div id="pager"></div>
{% endblock %}
